MYSQL_ROOT_PASSWORD=your_local_mysql_root_password
MYSQL_DATABASE=batch_management
MYSQL_USER=batchuser
MYSQL_PASSWORD=your_local_mysql_password

JWT_SECRET=your_jwt_secret

SLACK_WEBHOOK_URL=your_slack_webhook_url